body {
  background-color: #37FF96;
}

.card {
  margin: 4rem;
      background: white;
      box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
      border-radius: 7px;
      overflow: hidden;
      text-align: center;
      transition: all .2s linear;
}

th {
  width: 25%;
}

table {
  border-collapse:separate;
  /* border-spacing: 5rem 0.5rem; */
  margin: 50px;
}

.table-title{
  /* font-family: 'Quattrocento Sans', sans-serif; */
  padding-bottom: 0.75rem;
  padding-top: 1.0rem;
  /* background: #DCFFE0; */
  border-bottom: 0.5px solid black;
  border-radius: 4px;
}

input {
  /* display: block !important; */
  overflow-wrap: break-word;
  min-width: 80px;
  min-height: 32px;
  /* max-width: 500px; */

  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  width: 100% !important;
  /* border-radius: 0 !important; */
  /* line-height: 1 !important; */
}
